/* Basic Reset */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, verdana, sans-serif;
    
}
/* Topnav styling */
.topnav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #F9E9C0;
    padding: 10px 20px;
   overflow: hidden;
   box-shadow: #F9E9C0(0, 0, 0, 0.5);
   margin-top: 0px;
}
.topnav a {
    color: #211818;
    padding: 0px 0px;
    font-size: 5px;
    display: inline;
    justify-content: space-between;
    align-items: inline;
    text-align: inline left;
    padding: 10px 16px;
    font-size: 30px;
}

.logo {
    display: flex;
    /*position: absolute;*/
    position: relative;
    align-items: start;
    width: 35%;
}
.logo-img {
    height: 25%; /* Juster højden efter behov */
    width: 25%;
}

/* Menu styling */
.menu {
    list-style: none;
    display: flex;
    align-items: left;
}

.menu li {
    margin-left: 25px;
}

.menu a {
    text-decoration: none; /* Ingen understregning som standard */
    color: #211818;
    font-size: 18px;
    transition: text-decoration 0.3s; /* Glidende overgang for hover-effekt */
}

.menu a:hover {
    text-decoration: underline; /* Understregning ved hover */
    text-decoration-color: #211818; /* Juster farven på understregningen om nødvendigt */
    text-decoration-thickness: 2px; /* Juster tykkelsen på understregningen om nødvendigt */
    text-underline-offset: 3px; /* Juster afstanden mellem tekst og understregning om nødvendigt */
    text-decoration-skip-ink: none; /* Sikrer at understregningen ikke springer over de nedre dele af bogstaverne */
}
.icon-mobil {
    display: none!important; 
    align-items: end;
    
}



/* Responsive styling to header */
@media (max-width: 768px) {
    .topnav {
        display: flex;
       /* flex-direction: column;
        align-items: flex-end;*/
    }

    .menu {
        flex-direction: column;
        width: 100%;
        display: none;
    }
    .logo {
    align-items: baseline;
    width: 60%;
    }
    .menu li {
        width: 100%;
        text-align: left;
        margin-left: 0;
    }

    .menu a {
        /*display: block;*/
        width: 100%;
        text-decoration: none;
        transition: none;
       
    }

    .topnav.responsive .menu {
        display: flex;
    }

    .icon-mobil {
        align-items: baseline;
        display: block!important;
    }
}

/* body layout*/

.centered-text {
    border: 0px solid black; /* Tilføjet en værdi til border */
    margin: 90px 90px 70px 180px;
    text-align: center;
}

.centered-text h1{
    margin-bottom: 1rem;
}


.fotos{
    width: 120px;
    height: 240px;
    margin-right: 50px;
    margin-left: 20%;
    margin-bottom: 10%;
    
}




  .raekke {
    display:flex;
    align-items: flex-start;
  }




  @media only screen and (max-width: 600px) {
    .raekke {
      display:block;
    }
    
    }




    /*style footer*/

footer {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.footer p {
    color: #372222;
    font-family: "verdana";
    font-size: 0.8rem; /* Reduced font size */
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10%;
    margin-top: 5%;
}

.footer h4 {
    color: #383838;
    font-family: "verdana";
    font-size: 2rem; /* Reduced font size */
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
}

.footer-rækker {
    display: flex;
    justify-content: space-around;
    margin: 0 5% 3% 5%;
    font-size: 2vw; /* Reduced font size */
    margin-top: 30px;
}

.copyrights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem; /* Reduced font size */
    margin: 0 5% 0 7%;
}

.some {
    width: 45px;
    height: auto;
}







